{% extends "motherModel.html" %}
{% load staticfiles %}

{% block header_js %}
    <script type="text/javascript" src="{% static 'javascript/jquery/ui/jquery-ui.js' %}"></script>
    <link href="{% static 'css/jquery/ui/jquery-ui.css' %}" rel="stylesheet"/>

    <script type="text/javascript" src="{% static 'javascript/echart/echarts-4.1.0.rc2.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/theme/vintage.js' %}"></script>

    <script src="{% static 'javascript/beento/china.js' %}"></script>
    <script src="{% static 'javascript/beento/world.js' %}"></script>

    <style type="text/css">
        #div_beento_main {
            position: relative;
            padding: 0.5em;
            background-color: #ddede0 ! important;
            border-color: #ddede0 ! important;
        }
    </style>
{% endblock %}

{% block li_a_HomePage_class %}{% endblock %}
{% block li_a_Blog_class %}{% endblock %}
{% block li_a_CryptoCurrency_class %}{% endblock %}
{% block li_a_BookShelf_class %}{% endblock %}
{% block li_a_BeenTo_class %}
    class="active"
{% endblock %}
{% block li_a_Settings_class %}{% endblock %}

{% block body_content %}
    <div class="panel-heading">
        <span class="panel-title"> {{ areaName }}</span>
    </div>

    <div class="col-md-12" style="border: 1px solid #000000;"></div>

    <div class="row">
        <div id="div_main_parent" class="col-md-12">
            <div id="div_beento_main"></div>
        </div>
    </div>
{% endblock %}

{% block body_js %}
    <script>
        $("a[href='/beento']")[0].setAttribute("class", "active");
    </script>
    <script id="script_map" type="text/javascript" src="{% static 'javascript/beento/map_setting.js' %}"
            areaName="{{ areaName }}" areaGrade="{{ areaGrade }}" provinceJSPath="{{ provinceJSPath }}"></script>
{% endblock %}