<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="../../static/javascript/jquery/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../../static/javascript/jquery/ui/jquery-ui.js"></script>
        <link rel="stylesheet" href="../../static/css/jquery/ui/jquery-ui.css">

        <script type="text/javascript" src="../../static/javascript/echart/echarts-4.1.0.rc2.js"></script>
        <style type="text/css">
            #div_main{ width: 95%; height: 90%; border:1px solid black; padding:10px; margin: 0; position:absolute; }
        </style>
    </head>
    <body>
        <div id="div_main"></div>
        <script id='script_chart_data' type="text/javascript" src="crypto_test.js"></script>
    </body>
</html>