{% extends "motherModel.html" %}
{% load staticfiles %}

{% block header_js %}{% endblock %}

{% block li_a_HomePage_class %}{% endblock %}
{% block li_a_Blog_class %}{% endblock %}
{% block li_a_CryptoCurrency_class %}{% endblock %}
{% block li_a_BookShelf_class %}{% endblock %}
{% block li_a_BeenTo_class %}{% endblock %}
{% block li_a_Settings_class %}{% endblock %}

{% block body_content %}
    <div class="gallery">
                <h2 class="w3ls_head">HomePage</h2>
                <div class="gallery-grids">
                    <div class="gallery-top-grids">
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g1.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g1.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g2.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g2.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g3.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g3.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-top-grids">
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g5.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g5.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g6.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g6.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g7.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g7.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="gallery-top-grids">
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g8.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g8.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g9.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g9.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 gallery-grids-left">
                            <div class="gallery-grid">
                                <a class="example-image-link" href="images/g4.jpg" data-lightbox="example-set"
                                   data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                                    <img src="{% static 'styles/001/images/g4.jpg' %}" alt=""/>
                                    <div class="captn">
                                        <h4>Visitors</h4>
                                        <p>Aliquam non</p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <script src="{% static 'styles/001/js/lightbox-plus-jquery.min.js' %}"></script>

                </div>
            </div>
{% endblock %}

{% block body_js %}{% endblock %}